# Dependencies
client/node_modules/
server/node_modules/

# Env files
client/.env
server/.env
.env

# Build outputs
client/dist/
server/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/