# Port number for the server to listen on
PORT=8000

# MongoDB Connection String (Required)
MONGO_URL=mongodb://localhost:27017/task-manager

# JSON Web Token Secret Key (Required)
JWT_SECRET=your_jwt_secret_key_here

# Frontend Vite URL for CORS restrictions (Required)
CLIENT_URL=http://localhost:5173

# Node execution environment (development/production)
NODE_ENV=development
